body{
margin: 0 0;
padding: 0 0;
font-family: Georgia;
background-color: #F9EBE0;
font-size: 20px;
}
nav{
   
    justify-content: center;
    display: flex;
    height: 5em;
    background-color: #0d2149;
   
    
}
nav > li{
    margin-top: 25px;
    font-size: 25px;
    font-weight: bold;
    margin-left: 15px;
    
}
a{
    text-decoration: none;
    color: #F9EBE0;
}
a:hover{
    color: #208aae;
}
a:visited{
    color: #60492c;
}
.foto{
    background-image: url(foto.JPG);
    background-size: 100%;
    height: 36vw;
    background-attachment: fixed;
    background-repeat: no-repeat;
}
.text{
    background-color: #208aae;
    height: 3em;
    text-align: center;
    margin-top: 0;
}
h1{
    margin-top: 0;
}
h2{
    color: #F9EBE0;
    margin-top: 0;
    height: 1,5em;
}
#about > h2{
text-align: right;
background-color: #463f1a;

}

#expirience > h2{
text-align: left;
background-color: #60492c;

}

#education > h2{
text-align: right;
background-color: #463f1a;


}

#lang > h2{
    text-align: right;
    background-color:  #463f1a;
    
}
#add > h2{
    text-align: left;
    background-color:#60492c;
    
}
.sotnet{
    text-align: center;
}
.sotnet > a{
    
    font-size: 25px;
    color: #208aae;
} 
.sotnet > a:hover{
    color:#0d2149;
}  
   
   


